@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);
$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);
$Bright: #fafafa;

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: $VeryDarkBlue;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.main-btn {
  border: 2px solid $SoftBlue;
  padding: 1.3rem 1.9rem;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s;
  background: $SoftBlue;
  color: $Bright;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    background: transparent;
    color: $SoftBlue;
  }
}

.main-btn--ghost {
  border-color: #f7f7f7;
  background: #f7f7f7;
  color: $VeryDarkBlue;

  &:hover {
    border-color: $VeryDarkBlue;
    background: transparent;
    color: $VeryDarkBlue;
  }
}

.text-description {
  line-height: 1.6;
  color: $GrayishBlue;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.navbar {
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 16rem;
  }

  &__nav-trigger {
    display: none;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__nav-item {
    margin: 0 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__nav-item--social {
    display: none;
  }

  &__nav-link {
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: $VeryDarkBlue;
    transition: 0.3s ease-out;
    font-weight: 500;

    &:hover {
      color: $SoftRed;
    }
  }

  &__nav-link--red-btn {
    background: $SoftRed;
    border: 2px solid $SoftRed;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0.4rem;
    color: $Bright;

    &:hover {
      background: $Bright;
      color: $SoftRed;
    }
  }
}

.header {
  padding: 3rem 0;
  padding-bottom: 25rem;
  margin-bottom: 5rem;
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 170px;
    height: 346px;
    width: 530px;
    background: $SoftBlue;
    z-index: -1;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
  }

  &__hero {
    display: flex;
    position: relative;
  }

  &__hero-text {
    flex-basis: 50%;
  }

  &__hero-heading {
    padding-top: 8rem;
    max-width: 45rem;
    font-size: 4.6rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  &__hero-description {
    max-width: 48rem;
  }

  .main-btn {
    margin-right: 1.5rem;
  }

  &__hero-img-container {
    position: relative;
    flex-basis: 50%;
    // margin-left: 10rem;
  }

  &__hero-img {
    max-width: 657px;
    height: auto;
    // margin-left: 4rem;
    // width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.features {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  margin-bottom: 8rem;

  &__description {
    @extend .extensions__description;
  }

  &__navigation {
    margin-bottom: 7rem;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 73rem;
    margin: 0 auto;
    padding: 2rem 0;
    border-bottom: 2px solid $Bright;
  }

  &__nav-item {
    flex: 1 1 0;
  }

  &__btn {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    padding: 1rem;
    text-transform: capitalize;
    color: $GrayishBlue;
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    transition: 0.3s ease-out;
    cursor: pointer;
    position: relative;

    &:hover {
      color: $SoftRed;
    }
  }
  &__btn.tab-active {
    color: $VeryDarkBlue;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -20px;
      height: 3px;
      background: $SoftRed;
    }
  }

  &__tabs {
    overflow-x: hidden;
    position: relative;
  }

  &__tab {
    display: none;
    position: relative;
    min-height: 426px;
  }

  &__tab#simple-bookmarking {
    &::before {
      content: "";
      position: absolute;
      right: 640px;
      bottom: 0;
      height: 346px;
      width: 4000px;
      background: $SoftBlue;
      z-index: -1;
      border-top-right-radius: 250px;
      border-bottom-right-radius: 250px;
    }
  }
  &__tab#speedy-searching,
  &__tab#easy-sharing {
    &::before {
      content: "";
      position: absolute;
      right: 710px;
      bottom: 0;
      height: 346px;
      width: 4000px;
      background: $SoftBlue;
      z-index: -1;
      border-top-right-radius: 250px;
      border-bottom-right-radius: 250px;
    }
  }

  &__tab.active-content {
    display: flex;
  }

  &__img-container {
    flex-basis: 50%;
  }

  &__tab-content {
    flex: 1 1 0;
    padding-left: 11rem;
    text-align: left;
  }

  .heading-secondary {
    padding-top: 5rem;
  }

  &__tab-text {
    margin-bottom: 3rem;
  }
}

.extensions {
  padding: 5rem 0;
  text-align: center;

  &__description {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
  }

  &__cards {
    margin: 0 auto;
    max-width: 92rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 3rem;
  }

  &__card {
    height: 36rem;
    background: url(/images/bg-dots.svg);
    background-position-y: 260px;
    background-repeat: repeat-x;

    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
    padding: 4rem 2rem 2rem;
    text-align: center;
    border-radius: 1rem;

    &:nth-child(2) {
      margin-top: 4rem;
    }
    &:nth-child(3) {
      margin-top: 8rem;
    }
  }

  &__browser-logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;
  }

  &__card-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__card-description {
    display: inline-block;
    color: $GrayishBlue;
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  .main-btn {
    width: 100%;
    text-transform: capitalize;
  }
}

.faq {
  padding: 5rem 0;
  text-align: center;
  margin-bottom: 10rem;

  .heading-secondary {
    text-align: center;
  }

  &__description {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }

  &__questions {
    max-width: 55rem;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 5rem;
    text-align: left;
  }

  &__faq-item {
    border-top: 2px solid #f7f7f7;

    &:last-child {
      border-bottom: 2px solid #f7f7f7;
    }
  }

  &__question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 0;
    cursor: pointer;

    &:hover .faq__question {
      color: $SoftRed;
    }
  }

  &__question {
    flex-grow: 1;
    transition: color 0.3s ease-out;
  }

  &__angle-down {
    color: $SoftBlue;
    font-size: 3rem;
    flex-grow: 0;
    transition: 0.3s ease-out;

    &.rotated {
      transform: rotate(180deg);
      color: $SoftRed;
    }
  }

  &__answer-container {
    transition: 0.3s ease-out;

    &.inactive {
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    &.active {
      height: auto;
      opacity: 1;
    }
  }

  .main-btn {
    text-transform: capitalize;
  }
}

.contact {
  padding: 7rem 0;
  background: $SoftBlue;

  &__content {
    max-width: 45rem;
    margin: 0 auto;
    text-align: center;
    color: $Bright;
  }

  &__pre-heading {
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  .heading-secondary--contact {
    margin-bottom: 4rem;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 125px;
    column-gap: 20px;
  }

  &__input-container {
    position: relative;
  }

  .fa-exclamation-circle {
    position: absolute;
    top: 16px;
    right: 17px;
    color: $SoftRed;
    z-index: 1;
  }

  .fa-exclamation-circle--error {
    display: none;
  }

  &__email-label {
    overflow: hidden;
    height: 0;
    display: block;
  }

  &__email-input {
    width: 100%;
    display: block;
    padding: 1.4rem;
    border: none;
    background: $Bright;
    border-radius: 0.5rem;
    border: 2px solid $Bright;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
      background: lighten($color: $SoftBlue, $amount: 32);
    }
  }

  &__email-input--error {
    border-color: $SoftRed;
  }

  .main-btn--red {
    background: $SoftRed;
    border-color: $SoftRed;
    box-shadow: none;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    font-family: "Rubik", sans-serif;

    &:hover {
      background: $Bright;
      color: $SoftRed;
    }
  }

  &__info-msg {
    font-size: 1.2rem;
    text-align: left;
    padding: 1.1rem 0.8rem 0.8rem;
    background: $SoftRed;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-weight: 500;
    position: absolute;
    width: 100%;
    top: 44px;
    z-index: 0;
    display: none;
  }

  &__info-msg--visible-error {
    display: block;
  }
  &__info-msg--visible-success {
    display: block;
    background: transparent;
  }
}

.footer {
  background: $VeryDarkBlue;
  padding: 2.5rem 0;
  position: relative;

  &__content {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__site-link {
    height: 2.5rem;
  }

  &__nav-list {
    margin-left: 4rem;
    display: flex;
    list-style: none;
  }

  &__nav-item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &__nav-item--social-twitter {
    position: absolute;
    right: 0;
    top: -5px;

    margin-right: 0;
  }

  &__nav-item--social-facebook {
    position: absolute;
    right: 60px;
    top: -5px;
  }

  &__nav-link {
    color: $Bright;
    transition: color 0.3s ease-out;
    padding: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      color: $SoftRed;
    }
  }

  .fa-twitter,
  .fa-facebook-square {
    font-size: 2.6rem;
  }

  .attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
